
<%-include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/side-layout.css">
<link rel="stylesheet" href="/css/prodcuts.css">
<body>
<div class="side-layout">
<%-include('../includes/sidebar.ejs',{categories:categories})%>
<div class="contents">
    <h4 class="my-4 m-text">카테고리</h4>
    <%if(products&&products.length > 0 ){%>
        <div class="product-latest">
            <%products.forEach(product => {%>
                <div class="product">
                    <img src="<%=product.imageUrl%>"/>
                    <div>
                        <span class="product-name"><%=product.name%></span>
                        <span class="prodcut-price"><%=product.price%>원</span>
                        <p class="product-description"><%=product.description%></p>
                        <a class="product-link" href="/products/detail/<%=product._id%>">자세히 보기</a>
                    </div>
                </div>  
            <%});%>
        </div>
    <%} else {%>
        <h4>생성된 상품이 없어요</h4>
    <%}%>
</div>
</div>
<div style="margin: 100px 0;"></div>
<%-include('../includes/footer.ejs')%>